@import "tailwindcss/preflight";
@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* Custom keyframes for animations */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: translateY(-50%) scale(1);
    }

    50% {
        transform: translateY(-50%) scale(1.4);
    }

    100% {
        transform: translateY(-50%) scale(1);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateGalaxy {
    from {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.02);
    }

    to {
        transform: rotate(360deg) scale(1);
    }
}